html, body, p{
font-family: 'Roboto', sans-serif;
-webkit-font-smoothing:antialiased;
}

/* Push footer to bottom of page */
.site {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  min-height: 100vh;
  flex-direction: column;
}

main.content {
  -webkit-box-flex: 1 0 0;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1 0 0;         /* OLD - Firefox 19- */
  -webkit-flex: 1 0 0;          /* Chrome */
  -ms-flex: 1 0 0;              /* IE 10 */
  flex: 1 0 0;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


@-moz-document url-prefix() {
  main.content{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
}

header{
  background: #23538a;/* /* Old browsers */
  background-image:url(../img/office.jpg);
  background-repeat:repeat;
  padding-top: 1rem;
}
header h4{
color:#fff;
font-family: 'Patua One', sans-serif;
  font-weight:normal;
}

nav ul{
  margin-bottom:0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
  font-size:1.2rem;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  margin-top:0.4rem;
  margin-bottom:0.4rem;
}
nav a{
  color: #CCC;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms  ease-in-out 0s;
  padding:0.6rem;
}
nav a:hover{
  background-color:#EEE;
  color:#000;
}
.top-bar .toggle-topbar ul{
  margin-bottom:0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
  font-size:1.2rem;
}
.top-bar .toggle-topbar ul li{
  
  list-style-type: none;
  margin-top:0.4rem;
  margin-bottom:0.4rem;
}
.top-bar .toggle-topbar a{
  color: #CCC;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms  ease-in-out 0s;
  padding:0.6rem;
}
.top-bar .toggle-topbar a:hover{
  background-color:#EEE;
  color:#AAA;
}
.top-bar.expanded .title-area{
  background:none;
}
.top-bar.expanded .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a{
  font-size:1.2rem;
}
.active a{
background-color:;
color:#ee6123;
}
#slideshow{
  background-color:#222;
  background-image:url(../img/headbg.jpg);
  background-position:center;
  -moz-box-shadow: inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0 0 10px #000000;
}
#slideshow h1{
  font-size:64px;
  color:#FFF;
  font-family: 'Patua One', serif;
  font-weight:normal;
}
#slideshow h4{
  font-family: 'Patua One', serif;
  font-weight:normal;
  color:#DDD;
}
footer{
  background-color:#333;
  color:#AAA;
  font-family: 'Roboto Condensed', sans-serif;
  
}
.footercallout{
  background-color:#ee6123;
  padding:0.3rem;
  color:#DDD;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.button.footer-button{
  padding:5px 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color:#DDD;
  border:2px solid #DDD;
  margin:0;
}
button.footer-button:hover, .button.footer-button:hover, button.footer-button:active, .button.footer-button:active, button.footer-button:focus, .button.footer-button:focus{
  color:#222;
  background-color:#EEE;
  border:2px solid #EEE;
}
.subfooter{
  background-color:#333;
  border-top:1px solid #444;
  color:#AAA;
  padding:0.5rem;
  
}
.contain-to-grid{
background-color:rgba(0,0,0,0.5);
border-bottom:3px solid #ee6123;
}
.top-bar{
background:none;
}
button, .button{
   background-color:transparent;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
  border:2px solid #ee6123;
  color:#ee6123;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  padding: .7em 2em;
}
button:hover, .button:hover, button:active, .button:active, button:focus, .button:focus{
  color:#EEE;
  background-color:#ee6123;
}
button.secondary, .button.secondary{
   background-color:transparent;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
  border:2px solid #f1c40f;
  color:#f1c40f;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  padding: .7em 2em;
}
button.secondary:hover, .button.secondary:hover, button.secondary:active, .button.secondary:active, button.secondary:focus, .button.secondary:focus{
  color:#EEE;
  background-color:#f1c40f;
}
button.alert, .button.alert{
   background-color:transparent;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bold;
  border:2px solid #c0392b;
  color:#c0392b;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  padding: .7em 2em;
}
button.alert:hover, .button.alert:hover, button.alert:active, .button.alert:active, button.alert:focus, .button.alert:focus{
  color:#EEE;
  background-color:#c0392b;
}

@media only screen{
  ul.small-text-centered {
    text-align: center !important;
  }
}

@media only screen and (min-width: 40.063em) {
  ul.medium-text-uncentered {
    text-align: inherit !important;
  }
}

textarea { height: 15rem; }